@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

/*===Definido===*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --cor_principal: #0000FF;
}

/*===Cabeçalho===*/
.cabecalho {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    border-bottom: #DCDCDC solid 1px;
    box-shadow: 0 5px 10px #DCDCDC;
}

.nome {
    padding-left: 100px;
}

.menus {
    display: flex;
    gap: 30px;
    padding-right: 100px;
}

.menus h1 a{
    position: relative;
    color: black;
    text-decoration: none;
    transition: color 0.2s;
}

.menus h1 a:hover{
    color: var(--cor_principal);
}

.menus h1 a::before {
    content: " ";
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: var(--cor_principal);
    bottom: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s;
}
  
.menus h1 a:hover::before {
    transform: scaleX(1);
}

/*===Principal===*/
.principal {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    align-items: center;
    gap: 50px;
}

.imagem {
    padding: 0px;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;
    width: 20%; 
}


.botao {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: var(--cor_principal);
    border: none;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

.ponteiro::after {
    content: '_';
    animation: blink 0.5s infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.botao:hover {
    background-color: #000080;
}

.botao a {
    color: white;
    text-decoration: none;
}

/*===Rodapé===*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 50px;
}



