:root {
    --cor-bordas: #DCDCDC;
}

.sobre {
    display: flex;
    margin: 0 auto;
    width: 600px;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

.sobre {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 40px;
}

.linguagem {
    padding: 20px;
    border: 1px solid var(--cor-bordas);
    border-radius: 10px;
    box-shadow: 0 0 20px var(--cor-bordas);
}

.linguagens {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.linguagens ul li {
    list-style-type: none;    
}