.sobre {
    display: flex;
    margin: 0 auto;
    width: 600px;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    border: 1px solid red;
}

.sobre {
    display: flex;
    flex-direction: column;
    width: 500px;
    border: 1px solid red;
    gap: 40px;
}

.sobre section {
    border: 1px solid red;
}

.linguagens {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.linguagens ul li {
    list-style-type: none;    
}