<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/visual.css">
    <title>Davi - Home</title>
</head>
<body>
    <header class="cabecalho">
        <section class="nome">
            <h1>Davi</h1>
        </section>
        <section class="menus">
            <h1><a href="../templates/home.html">Home</a></h1>
            <h1><a href="../templates/portifolio.html">Portifólio</a></h1>
            <h1><a href="../templates/sobre.html">Sobre</a></h1>
        </section>
    </header>
    <main class="principal">
        <section class="imagem">
            <img src="../img/perfil2.png" alt="Foto de Perfil" width="300">
        </section>
        <section class="texto">
            <h1>Olá,me chamo <span style="color: #0000FF">Davi Feitosa</span><p>e sou <span class="ponteiro" style="color: #0000FF;">Programador</span></h1>
            <section>
                <button class="botao"><a href="">Contato</a></button>
            </section>
        </section>
    </main>
    <footer>
        <h4>Minhas redes sociais:</h4>
        <section>
            <a href=""><img src="../img/youtube.png" alt="Youtube" width="35"></a>
            <a href=""><img src="../img/instagram.png" alt="Youtube" width="35"></a>
            <a href=""><img src="../img/linkedin.png" alt="Youtube" width="35"></a>
            <a href="https://github.com/DaviFeitosa21" target="_blank"><img src="../img/icons8-github-64.png" alt="Youtube" width="35"></a>
        </section>
    </footer>
    <script src="../app/api.js"></script>
</body>
</html>