<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/visual.css">
    <link rel="stylesheet" href="../css/visual-sobre.css">
    <title>Davi - Portifólio</title>
</head>
<body>
    <header class="cabecalho">
        <section class="nome">
            <h1>Davi</h1>
        </section>
        <section class="menus">
            <h1><a href="../templates/home.html">Home</a></h1>
            <h1><a href="../templates/portifolio.html">Portifólio</a></h1>
            <h1><a href="../templates/sobre.html">Sobre</a></h1>
        </section>
    </header>
    <main class="sobre">
        <section>
            <h1>Sobre Mim</h1>
            <p>
                Me chamo Davi Feitosa, atualmente estou cursando Ciência da Computação na Universidade Federal de Jataí e trabalho também como Freelancer
            </p>
        </section>
        <section class="linguagem">
            <h1>Linguagens que utilizo</h1>
            <section class="linguagens">
                <section>
                    <h1>Front-End</h1>
                    <ul>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>React</li>
                    </ul>
                </section>
                <section>
                    <h1>Back-End</h1>
                    <ul>
                        <li>C#</li>
                        <li>Java</li>
                        <li>Delphi</li>
                    </ul>
                </section>
            </section>
        </section>
    </main>
</body>
</html>